<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#5D1313">
    <title>Fathima | Admin</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/dashboard/style.css">
    <link rel="stylesheet" href="/dashboard/mediaQuery.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-md-12">
        <div class="row">
            {{>dashboard/sidebar}}
            <div class="col-md-9 col-lg-9 col-xl-10" id="dash-body">
                {{>dashboard/header}}
                <div class="col-md-12 mt-5">
                    <div class="row">
                        <div class="heading"><strong class="dash-heading">MEDICINES</strong></div>
                    </div>
                   <div class="row">
                       <a href="/view/medicines" class="nav-menu">View</a>
                       <a href="/create/medicines" class="nav-menu">Create New</a>
                    </div>
                    <hr class="m-0">
                    <form class="mt-4" action="/edit/medicine/{{med.id}}" method="post">
                        <div class="row">
                            {{#if msgSuccess}}
                                    <div class="col-md-12">
                                        <div class="alert alert-success" role="alert">
                                           <strong>Success! </strong>{{msgSuccess}}
                                        </div>
                                    </div>
                                {{/if}}
                                {{#if msgErr}}
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" role="alert">
                                           <strong>Error! </strong>{{msgErr}}
                                        </div>
                                    </div>
                                {{/if}}
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Name</label>
                                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name of medicine" name="name" value="{{med.name}}" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Description</label>
                                    <textarea name="description" class="form-control" id="exampleFormControlTextarea1" rows="3" required>{{med.description}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput5">Index</label>
                                    <input name="index" type="number" class="form-control" id="exampleFormControlInput5" placeholder="Index in numbers" value="{{med.index}}" required>
                                </div>

                    
                    
                            </div>
                            <div class="col-md-12 mt-3 mb-4">
                                <button type="submit" class="btn btn-dash">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
              
            </div>
        </div>
    </div>
    
</body>
</html>